<div class="modal-header">
    <button type="button"
            class="close"
            ng-click="main.ok()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Modal Title</h3>
</div>
<div class="modal-body">
    Content goes here.
</div>
<div class="modal-footer">
    <button class="btn btn-default positive-action"
            type="button" ng-click="main.ok()">
        OK
    </button>
    <button class="btn btn-default"
            type="button" ng-click="main.ok()">
        Cancel
    </button>
</div>