<titlebar></titlebar>

<div class="body-content padded">

    <div class="cwtoolbar">
        <a href="#">ConnectWise Styles</a>
        <span class="glyphicon glyphicon-menu-right"></span>
        Modals
    </div>

    <h3 class="style-section">Modals</h3>

    <a class="btn btn-default positive-action"
       ng-click="main.openExampleModal('sm')">
        Small
    </a>

    <a class="btn btn-default positive-action"
       ng-click="main.openExampleModal()">
        Normal
    </a>

    <a class="btn btn-default positive-action"
       ng-click="main.openExampleModal('lg')">
        Large
    </a>

</div>
