.cwloader-bg {
  z-index: 999998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  opacity: 0.15;
}

.cwloader-box {
  z-index: 999999;
  position: fixed;
  top: 10px;
  left: 10px;
  min-width: 300px;
  min-height: 150px;
  background-color: #ffffff;
  outline: 1px solid #AAAAAA;
  outline-offset: 2px;
  text-align: center;
  padding-top: 30px;
}

.loadingText {
  margin-top: 10px;
  font-size: 12px;
}