<div class="modal-header">
    <button type="button"
            class="close"
            ng-click="manageReleaseCtrl.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Manage Release - {{ manageReleaseCtrl.formData.name }}</h3>
</div>
<div class="modal-body">


    <uib-tabset class="cwtabs">

        <uib-tab>
            <uib-tab-heading>General</uib-tab-heading>
            <ng-form class="form-horizontal cw-form padded" name="modifyReleaseForm">

                <div class="form-group">
                    <label class="cw-field-label col-xs-3 control-label">
                        <span class="pull-left">Release Name:</span>
                        <span class="glyphicon glyphicon-asterisk cw-required-indicator"></span>
                    </label>
                    <div class="col-xs-9 control-value">
                        <input type="text"
                               ng-model="manageReleaseCtrl.formData.name"
                               class="cw-text-field"
                               required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="cw-field-label col-xs-3 control-label">
                        <span class="pull-left">Agent Version:</span>
                        <span class="glyphicon glyphicon-asterisk cw-required-indicator"></span>
                    </label>
                    <div class="col-xs-4 control-value">
                        <input type="text"
                               class="cw-text-field"
                               ng-model="manageReleaseCtrl.formData.agentVersionMin"
                               required />
                    </div>
                    <div class="col-xs-1 control-value" style="text-align: center;">
                        to
                    </div>
                    <div class="col-xs-4 control-value">
                        <input type="text"
                               class="cw-text-field"
                               ng-model="manageReleaseCtrl.formData.agentVersionMax"
                               required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="cw-field-label col-xs-3 control-label">
                        <span class="pull-left">Marketing Group:</span>
                    </label>
                    <div class="col-xs-9 control-value">
                        <input type="text"
                               class="cw-text-field"
                               ng-model="manageReleaseCtrl.formData.marketingGroup" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="cw-field-label col-xs-3 control-label">
                        <span class="pull-left">Download URL:</span>
                        <span class="glyphicon glyphicon-asterisk cw-required-indicator"></span>
                    </label>
                    <div class="col-xs-9 control-value">
                        <input type="text"
                               class="cw-text-field"
                               ng-model="manageReleaseCtrl.formData.downloadUrl"
                               required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="cw-field-label col-xs-3 control-label">
                        <span class="pull-left">Prerequisite:</span>
                    </label>
                    <div class="col-xs-9 control-value">
                        <select class="cw-dropdown-field"
                                ng-model="manageReleaseCtrl.formData.prerequisiteId"
                                ng-options="r.id as r.name for r in manageReleaseCtrl.releaseService.releases">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

            </ng-form>
        </uib-tab>

        <uib-tab>
            <uib-tab-heading>Modal</uib-tab-heading>
            <ng-form class="form-horizontal cw-form padded" name="inlineFormExample">

                <div class="form-group">
                    <label class="cw-field-label col-xs-3 control-label">
                        <span class="pull-left">HTML:</span>
                        <span class="glyphicon glyphicon-asterisk cw-required-indicator"></span>
                    </label>
                    <div class="col-xs-9 control-value">
                        <textarea ng-model="manageReleaseCtrl.formData.modalHtml"
                                  class="form-control"
                                  style="height: 250px;"
                                  required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cw-field-label col-xs-3 control-label">
                        <span class="pull-left">Preview:</span>
                    </label>
                    <div class="col-xs-9 control-value">
                        <button type="button"
                                ng-click="manageReleaseCtrl.showModalPreview = !manageReleaseCtrl.showModalPreview"
                                class="btn btn-default">
                            <span ng-if="!manageReleaseCtrl.showModalPreview">
                                Show <span class="glyphicon glyphicon glyphicon-chevron-down"></span>
                            </span>
                            <span ng-if="manageReleaseCtrl.showModalPreview">
                                Hide <span class="glyphicon glyphicon glyphicon-chevron-up"></span>
                            </span>
                        </button>
                    </div>
                </div>

                <div class="form-group"
                     style="margin: 0;"
                     ng-show="manageReleaseCtrl.showModalPreview">
                    <div class="col-xs-12 release-modal-preview">
                        <div class="modal-content">
                            <div class="modal-header portal-modal-header">
                                <h4 class="modal-title">Download {{ manageReleaseCtrl.formData.name }}</h4>
                            </div>
                            <div class="modal-body portal-modal-body">
                                <span ng-bind-html="manageReleaseCtrl.formData.modalHtml"></span>
                            </div>
                            <div class="modal-footer portal-modal-footer">
                                <input type="checkbox" /> I acknowledge the above information. Enable the download button.
                                <a class="btn btn-success pull-right">Download</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </ng-form>
        </uib-tab>

        <uib-tab>
            <uib-tab-heading>Email</uib-tab-heading>
            <ng-form class="form-horizontal cw-form padded" name="inlineFormExample">

                <div class="form-group">
                    <label class="cw-field-label col-xs-3 control-label">
                        <span class="pull-left">HTML:</span>
                        <span class="glyphicon glyphicon-asterisk cw-required-indicator"></span>
                    </label>
                    <div class="col-xs-9 control-value">
                        <textarea ng-model="manageReleaseCtrl.formData.emailHtml"
                                  class="form-control"
                                  style="height: 250px;"
                                  required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cw-field-label col-xs-3 control-label">
                        <span class="pull-left">Preview:</span>
                    </label>
                    <div class="col-xs-7 control-value">
                        <input type="text"
                               class="cw-text-field"
                               placeholder="(enter email address)">
                    </div>
                    <div class="col-xs-2 control-value">
                        <button type="button" class="btn btn-default btn-block">
                            <span class="glyphicon glyphicon-envelope"></span>
                            Send
                        </button>
                    </div>
                </div>

            </ng-form>
        </uib-tab>

        <uib-tab>
            <uib-tab-heading>Alert</uib-tab-heading>
            <ng-form class="form-horizontal cw-form padded" name="inlineFormExample">

                <div class="form-group">
                    <label class="cw-field-label col-xs-3 control-label">
                        <span class="pull-left">HTML:</span>
                        <span class="glyphicon glyphicon-asterisk cw-required-indicator"></span>
                    </label>
                    <div class="col-xs-9 control-value">
                        <textarea class="form-control"
                                  ng-model="manageReleaseCtrl.formData.alertHtml"
                                  style="height: 250px;"
                                  required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cw-field-label col-xs-3 control-label">
                        <span class="pull-left">Preview:</span>
                    </label>
                    <div class="col-xs-9 control-value">
                        <div class="alert alert-info"
                             style="margin: 0;">
                            <span ng-bind-html="manageReleaseCtrl.formData.alertHtml"></span>
                        </div>
                    </div>
                </div>

            </ng-form>
        </uib-tab>

    </uib-tabset>


</div>
<div class="modal-footer">
    <a class="btn btn-default positive-action"
       ng-click="manageReleaseCtrl.ok()">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        Save
    </a>
    <a class="btn btn-default"
       ng-click="manageReleaseCtrl.cancel()">
        Cancel
    </a>
</div>