.release-modal-preview {
  background-color: #808080;
  padding-top: 10px;
  padding-bottom: 10px;
}

.portal-modal-header {
  border-bottom: 1px solid #e5e5e5;
  h4 {
    font-weight: normal !important;
  }
}

.portal-modal-body {
  padding: 15px !important;
  a {
    color: #49A942 !important;
  }
}

.portal-modal-footer {
  border-top: 1px solid #e5e5e5;
}