<titlebar />

<div class="body-content padded">

    <div class="cwtoolbar">
        <a href="#">ConnectWise Styles</a>
        <span class="glyphicon glyphicon-menu-right"></span>
        Forms
    </div>

    <h3 class="style-section">Horizontal Form</h3>

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
            <ng-form class="form-horizontal cw-form" name="inlineFormExample">

                <div class="form-group">
                    <label class="cw-field-label col-xs-2 control-label">
                        <span class="pull-left">Text Field:</span>
                    </label>
                    <div class="col-xs-10 control-value">
                        <input type="text" class="cw-text-field" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="cw-field-label col-xs-2 control-label">
                        <span class="pull-left">Required:</span>
                        <span class="glyphicon glyphicon-asterisk cw-required-indicator"></span>
                    </label>
                    <div class="col-xs-10 control-value">
                        <input type="text" class="cw-text-field" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="cw-field-label col-xs-2 control-label">
                        <span class="pull-left">Dropdown:</span>
                    </label>
                    <div class="col-xs-10 control-value">
                        <select class="cw-dropdown-field">
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cw-field-label col-xs-2 control-label">
                        <span class="pull-left">Invalid:</span>
                        <span class="glyphicon glyphicon-asterisk cw-required-indicator"></span>
                    </label>
                    <div class="col-xs-10 control-value">
                        <select class="cw-dropdown-field ng-invalid">
                            <option>(select one)</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cw-field-label col-xs-2 control-label">
                        <span class="pull-left">Disabled:</span>
                        <span class="glyphicon glyphicon-asterisk cw-required-indicator"></span>
                    </label>
                    <div class="col-xs-10 control-value">
                        <select class="cw-dropdown-field" disabled>
                            <option>(disabled)</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cw-field-label col-xs-2 control-label">
                        <span class="pull-left">Text Area:</span>
                    </label>
                    <div class="col-xs-10 control-value">
                        <textarea class="form-control" style="width: 100%;"></textarea>
                    </div>
                </div>

            </ng-form>
        </div>

    </div>

</div>
