<titlebar />

<div class="body-content padded">

    <div class="cwtoolbar">
        <a href="#">ConnectWise Styles</a>
        <span class="glyphicon glyphicon-menu-right"></span>
        Forms
    </div>

    <h3 class="style-section">Forms</h3>

    <table class="table table-bordered">
        <tbody>

        <tr>
            <td style="width: 200px;">Input Field</td>
            <td>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="cw-field-label">
                            Label:
                        </label>
                        <input type="text"
                               class="cw-text-field" />
                    </div>
                </form>
            </td>
        </tr>

        <tr>
            <td>Dropdown</td>
            <td>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="cw-field-label">
                            Label:
                        </label>
                        <div class="btn-group nudge-right"
                             uib-dropdown>
                            <button type="button"
                                    class="cw-dropdown-field"
                                    uib-dropdown-toggle>
                                <span class="caret dropdown-icon pull-right" />
                            </button>
                            <ul class="dropdown-menu"
                                uib-dropdown-menu>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </td>
        </tr>

        <tr>
            <td>Textarea</td>
            <td>
                <label class="cw-field-label">
                    Label:
                </label>
                <div class="btn-group nudge-right">
                    <textarea class="form-control" style="min-width: 300px;"></textarea>
                </div>
            </td>
        </tr>

        </tbody>
    </table>

</div>
