<div class="btn-group cw-segmented-control">
    <a href="#/buttons" ng-class="{'btn': true, 'btn-default': true, 'active': vm.currentState.includes('buttons')}">Buttons</a>
    <a href="#/forms" ng-class="{'btn': true, 'btn-default': true, 'active': vm.currentState.includes('forms')}">Forms</a>
    <a href="#/grid" ng-class="{'btn': true, 'btn-default': true, 'active': vm.currentState.includes('grid')}">Grid</a>
    <a href="#/modals" ng-class="{'btn': true, 'btn-default': true, 'active': vm.currentState.includes('modals')}">Modals</a>
    <a href="#/table" ng-class="{'btn': true, 'btn-default': true, 'active': vm.currentState.includes('table')}">Table</a>
    <a href="#/tabs" ng-class="{'btn': true, 'btn-default': true, 'active': vm.currentState.includes('tabs')}">Tabs</a>
    <a href="#/release-manager" ng-class="{'btn': true, 'btn-default': true, 'active': vm.currentState.includes('release-manager')}">Release Manager</a>
</div>