<div class="titlebar">

    <span class="titlebar-title">
        <span class="glyphicon glyphicon-tint"></span>
        ConnectWise Styles
    </span>

    <a href="#/buttons"
       ng-class="{'titlebar-link':true, 'active': vm.currentState.includes('buttons')}">
        Buttons
    </a>

    <a href="#/forms"
       ng-class="{'titlebar-link':true, 'active': vm.currentState.includes('forms')}">
        Forms
    </a>

    <a href="#/grid"
       ng-class="{'titlebar-link':true, 'active': vm.currentState.includes('grid')}">
        Grid
    </a>

    <a href="#/table"
       ng-class="{'titlebar-link':true, 'active': vm.currentState.includes('table')}">
        Table
    </a>

    <a href="#/tabs"
       ng-class="{'titlebar-link':true, 'active': vm.currentState.includes('tabs')}">
        Tabs
    </a>

    <a href="#/release-manager"
       ng-class="{'titlebar-link':true, 'active': vm.currentState.includes('release-manager')}">
        Release Manager
    </a>

</div>