
$titlebar-height: 56px;

.titlebar {
  position: absolute;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-bottom: thin solid #C9C9C9;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(228,228,228,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(228,228,228,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(228,228,228,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
  align-items: center;
  height: $titlebar-height;
  z-index: 10000;

  .titlebar-title {
    color: #000000;
    font-size: 2rem;
    line-height: $titlebar-height;
    font-weight: 700;
    margin: 0 15px;
  }

  .titlebar-link {
    font-size: 1.5rem;
    height: 56px;
    line-height: 56px;
    padding: 0 12px;
  }

  .titlebar-link:hover {
    text-decoration: none;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
    box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: thin solid #C9C9C9;
  }

  .titlebar-link.active {
    color: #000000;
    background: #E4E4E4;
    border-bottom: thin solid #ADADAD;
  }

}