<titlebar />

<div class="body-content padded">

    <div class="cwtoolbar">
        <a href="#">ConnectWise Styles</a>
        <span class="glyphicon glyphicon-menu-right"></span>
        Buttons
    </div>

    <h3 class="style-section">Buttons</h3>

    <table class="table table-bordered">
        <tbody>

        <tr>
            <td style="width: 200px;">General Button</td>
            <td>
                <a class="btn btn-default">Button Example</a>
            </td>
        </tr>

        <tr>
            <td>Positive Button</td>
            <td>
                <a class="btn btn-default positive-action">Button Example</a>
            </td>
        </tr>

        <tr>
            <td>Negative Button</td>
            <td>
                <a class="btn btn-default negative-action">Button Example</a>
            </td>
        </tr>

        <tr>
            <td>Toolbar Buttons</td>
            <td>
                <a class="btn btn-default btn-icon"
                   uib-tooltip="Options">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <a class="btn btn-default btn-icon"
                   uib-tooltip="Flag">
                    <span class="glyphicon glyphicon-flag"></span>
                </a>
                <a class="btn btn-default btn-icon"
                   uib-tooltip="Refresh">
                    <span class="glyphicon glyphicon-repeat"></span>
                </a>
            </td>
        </tr>

        <tr>
            <td>Field Context</td>
            <td>

                <form class="form-inline">
                    <div class="form-group">
                        <label class="cw-field-label">
                            Email:
                        </label>
                        <input type="text"
                               class="cw-text-field" />
                        <button type="submit" class="btn btn-default btn-icon" style="margin-left: 6px">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </button>
                    </div>
                </form>

            </td>
        </tr>

        <tr>
            <td>Button w/ Dropdown</td>
            <td>
                <div class="btn-group"
                     uib-dropdown
                     dropdown-append-to-body>
                    <button type="button"
                            class="btn btn-default"
                            uib-dropdown-toggle>
                        Button Example
                        <span class="caret dropdown-icon" />
                    </button>
                    <ul class="dropdown-menu"
                        uib-dropdown-menu>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <div class="btn-group"
                     uib-dropdown
                     dropdown-append-to-body>
                    <button type="button"
                            class="btn btn-default btn-icon"
                            uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-cog"></span>
                        <span class="caret dropdown-icon" />
                    </button>
                    <ul class="dropdown-menu"
                        uib-dropdown-menu>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td>Simple Paging Control</td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
            </td>
        </tr>

        <tr>
            <td>Complex Paging Control</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        1-10 of 512 <span class="caret dropdown-icon" />
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </td>
        </tr>

        <tr>
            <td>Segmented Control</td>
            <td>
                <div class="btn-group cw-segmented-control">
                    <label class="btn btn-default" ng-model="main.radioModel" uib-btn-radio="'Day'">Day</label>
                    <label class="btn btn-default" ng-model="main.radioModel" uib-btn-radio="'Week'">Week</label>
                    <label class="btn btn-default" ng-model="main.radioModel" uib-btn-radio="'Next 7'">Next 7</label>
                    <label class="btn btn-default" ng-model="main.radioModel" uib-btn-radio="'Month'">Month</label>
                    <label class="btn btn-default" ng-model="main.radioModel" uib-btn-radio="'Agenda'">Agenda</label>
                </div>
            </td>
        </tr>

        </tbody>
    </table>


</div>
